{% extends "layout.njk" %}

{% block content %}

    <div class="background-info">
        <div class="infos">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos
                com receitas criadas por profissionais
                do mundo inteiro.
            </p>
        </div>
        <img src="/chef.png" alt="Chef">
    </div>

    <div class="accessed">
        <h1>Mais acessados</h1>
    </div>

    <div class="cards">

        {% for recipe in receipts %}

            <div class="card">
                <div class="card-image-conteiner">
                    <img src="{{ recipe.image }}" alt="{{recipe.title}}">
                </div>
                <div class="card-title">
                    <h1>{{ recipe.title }}</h1>
                </div>
                <div class="card-author">
                    <h2>{{ recipe.author }}</h2>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}